@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    /* dracula-dark */
    /* background-color: hsl(232 14% 31%); */
    background-color: hsla(60, 30%, 96%, 0.5); /* light alpha 0.5 */
    border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* dracula-blue */
    /* background-color: hsl(232 14% 35%);  */
    /* light alpha 0.5 */
    background-color: hsla(60, 30%, 96%, 0.5); 
    cursor: grab;
}
